.footer {
  padding-top: px-to-rem(60px);
  background-image: linear-gradient(to bottom, #0885f8 9%, #00b1fd);
  position: relative;
  &__svg {
    position: absolute;
    top: px-to-rem(-2px);
    width: 100%;
  }
  &__wrap {
    &:nth-child(1) {
      margin-bottom: px-to-rem(70px);
    }
    &:nth-child(2) {
      padding-bottom: px-to-rem(70px);
      border-bottom: 1px solid #37c3f7;
      & > .row > div:nth-child(3) {
        & .footer-info__wrap {
          width: 100%;
        }
      }
    }
    &:nth-child(3) {
      padding: px-to-rem(25px) 0;
    }
  }
  & .header-menu {
    &__link {
      color: white;
    }
    &__item {
      &.dropdown .header-menu__link:after {
        background-image: url(../img/arrow-w.svg);
      }
    }
  }
  & .footer-info {
    font-family: 'Montserrat';
    &__wrap {
      display: table;
      line-height: 100%;
      height: 100%;
    }
    &__title {
      font-size: font-to-rem(12px);
      line-height: 2;
      font-weight: 600;
      color: $beige;
      margin-bottom: px-to-rem(7px);
    }
    &__desc {
      font-size: font-to-rem(12px);
      line-height: 1.5;
      color: white;
    }
    &__phone {
      font-size: font-to-rem(18px);
      line-height: 1.3;
      font-weight: 600;
      color: $beige;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    &__copyright {
      font-size: font-to-rem(10px);
      line-height: 2;
      color: $beige;
    }
    &__design {
      display: inline-block;
      text-align: right;
      font-size: font-to-rem(12px);
      line-height: 1.8;
      color: white;
      margin-right: px-to-rem(10px);
    }
    &__logo-link {
      &:hover {
        text-decoration: none;
      }
    }

    &__soc-link {
      display: block;
      width: px-to-rem(30px);
      height: px-to-rem(30px);
      background-position: center;
      background-repeat: no-repeat;
    }
    &__soc-wrap {
      display: table-cell;
      vertical-align: middle;
      &:nth-child(1) {
        & .footer-info__soc-link {
          background-image: url(../img/fb.png);
          margin-right: px-to-rem(15px);
        }
      }
      &:nth-child(2) {
        & .footer-info__soc-link {
          background-image: url(../img/insta.png);
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .footer {
    & .footer-info {
      &__phone {
        text-align: left;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    padding-top: px-to-rem(28px);
    & .header-menu {
      text-align: center;
    }
    &__wrap {
      &:nth-child(1) {
        margin-bottom: px-to-rem(20px);
      }
      &:nth-child(2) {
        padding-bottom: px-to-rem(20px);

        & > .row > div:nth-child(1),
        & > .row > div:nth-child(2){
          & .footer-info__wrap {
            margin-bottom: px-to-rem(25px);
          }
        }
      }
    }
    & .footer-info {
      &__copyright {
        margin-bottom: px-to-rem(15px);
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .footer {
    & .footer-info {
      &__phone {
        font-size: font-to-rem(14px);
      }
      &__soc-link {
        width: px-to-rem(20px);
        height: px-to-rem(20px);
        background-size: contain;
      }
    }
  }
}
