.form {
  $parent: &;
  font-family: 'Montserrat';
  margin-bottom: px-to-rem(100px);
  &__wrap {
    display: block;
    @include border-radius();
    @include border();
    padding: px-to-rem(60px) px-to-rem(90px) px-to-rem(30px) px-to-rem(90px);
  }
  &__head {
    font-weight: 900;
  }
  &__item {
    margin-bottom: px-to-rem(30px);
  }
  &__item-wrap {
    display: flow-root;
  }
  &__label {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    font-weight: 700;
    font-size: font-to-rem(21px);
    color: $gray-3;
    line-height: 1.73;
    margin-bottom: px-to-rem(15px);
    &_disabled {
      color: $gray;
    }
  }
  &__note {
    font-size: font-to-rem(16px);
    line-height: 1.6;
    text-align: center;
    color: $gray-3;
    padding: 0 px-to-rem(110px);
  }
  &__field {
    @include border-radius();
    @include border($border-color: $gray-light);
    font-size: font-to-rem(18px);
    line-height: 1.3;
    font-weight: 600;
    color: $dark-blue;
    padding: px-to-rem(21px) px-to-rem(25px);
    background-color: white;
    &_medium {
      width: px-to-rem(400px);
    }
    &_long {
      width: 100%;
    }
    &_small {
      width: px-to-rem(280px);
    }
    &:focus {
      outline: none;
      border-color: $gray-3;
    }
  }
  &__select {
    .custom-select-opener {
      font-weight: 600;
      font-size: font-to-rem(18px);
      color: $gray-light;
      @include border-radius();
      @include border($border-color: $gray-light);
      background: white url("../img/minimal-down.png") no-repeat center right 25px;
      background-size: px-to-rem(18px);
      padding: px-to-rem(21px) px-to-rem(25px);
      &:focus {
        outline: none;
      }
    }
    .custom-select-panel {
      background-color: white;
      border-top: none;
      border-bottom-right-radius: px-to-rem(10px);
      border-bottom-left-radius: px-to-rem(10px);
      transition: unset;
    }
    .custom-select-container {
      & select {
        width: 1px;
      }
      &.is-open {
        .custom-select-opener {
          border-color: $gray-3;
          border-bottom-right-radius: unset;
          border-bottom-left-radius: unset;
          border-bottom-color: transparent;
          background-image: url("../img/minimal-top.png");
        }
        .custom-select-panel {
          @include border($border-color: $gray-3);
          border-top: none;
          width: 100%;
          max-height: px-to-rem(250px);

        }
      }
    }
    .custom-select-option {
      padding: px-to-rem(10px) px-to-rem(25px);
      cursor: pointer;
      font-weight: 600;
      font-size: font-to-rem(18px);
      &[default] {
        display: none;
      }
      & disabled {
        color: #0072ff;
      }
      &.has-focus {
        background-color: white;
        color: $blue;
      }
      &.is-selected {
        color: $blue;
        &:before {
          content: none;
        }
      }
    }
    &_selected {
      #{$parent}__label {
        color: $acid-blue3;
      }
      & .custom-select-opener {
        border-color: $acid-blue3;
        color: $acid-blue3;
        background-image: url("../img/minimal-down-blue.png");
      }
      & .custom-select-container {
        &.is-open {
          .custom-select-opener {
            border-color: $acid-blue3;
            border-bottom-color: transparent;
            background-image: url("../img/minimal-top-blue.png");
          }
          .custom-select-panel {
            border-color: $acid-blue3;
          }
        }
      }
    }
  }
  & input::placeholder {
    font-weight: 600;
    color: $gray-light;
  }
  & .button__wrap {
    text-align: center;
    margin-bottom: px-to-rem(40px);
  }
}

.material-switch {
  & > input[type="checkbox"] {
    display: none;
    &:checked + label::after {
      left: px-to-rem(25px);
    }
  }
  & > label {
    cursor: pointer;
    position: relative;
    padding: 0 px-to-rem(130px) 0 px-to-rem(65px);
    &:before {
      background-color: $acid-blue3;
      border-radius: px-to-rem(50px);
      content: '';
      height: px-to-rem(28px);
      width: px-to-rem(45px);
      position: absolute;
      left: 0;
      top: px-to-rem(5px);
      transition: all 0.4s ease-in-out;
    }
    &:after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      content: '';
      width: px-to-rem(16px);
      height: px-to-rem(16px);
      position: absolute;
      top: px-to-rem(11px);
      left: px-to-rem(5px);
      transition: all 0.3s ease-in-out;
    }
  }
}

@include media-breakpoint-down(lg) {
  .form {
    &__field {
      &_medium {
        width: px-to-rem(300px);
      }
      &_small {
        width: px-to-rem(225px);
      }
    }
    &__note {
      padding: 0 px-to-rem(40px);
    }
  }
}

@include media-breakpoint-down(md) {
  .form {
    &__field {
      &_medium {
        width: 100%;
      }
      &_small {
        width: 100%;
      }
    }
    &__note {
      padding: 0;
    }
  }
  .material-switch {
    & > label {
      padding-right: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .form {
    &__wrap {
      padding: px-to-rem(30px) px-to-rem(20px);
    }
  }
}

@include media-breakpoint-down(xs) {
  .form {
    &__head.h4 {
      margin-bottom: px-to-rem(30px);
    }
    &__item {
      margin-bottom: px-to-rem(10px);
    }
    &__label {
      font-size: font-to-rem(16px);
      margin-bottom: px-to-rem(5px);
    }
    &__note {
      font-size: font-to-rem(13px);
    }
    &__field {
      padding: px-to-rem(13px) px-to-rem(11px);
      font-size: px-to-rem(15px);
    }
    &__select {
      .custom-select-opener {
        font-size: font-to-rem(12px);
        background-size: px-to-rem(16px);
        padding: px-to-rem(13px) px-to-rem(11px);
        &:focus {
          outline: none;
        }
        & span {
          padding-right: px-to-rem(20px);
        }
      }
      .custom-select-option {
        padding: px-to-rem(13px) px-to-rem(11px);
        font-size: font-to-rem(14px);
      }
    }
    & .button__wrap {
      margin-bottom: px-to-rem(16px);
    }
  }
  .material-switch {
    & > label {
      font-size: font-to-rem(14px);
      line-height: 1.4;
    }
  }
}
